#!build/gn_perf -T
# vim: ft=dosini
size = 512

define = SPLATS=4
define = F0=16
define = TILE_SIZE=16
define = POINTS=POINTS_[% points %]
define = WEIGHTS=WEIGHTS_[% weights %]
define = PRNG=PRNG_[% prng %]
output = build/[% fn %]
[% IF ksin %]
define = KSIN
[% END %]

